.btn.btn-info{
    font-weight: 700;
    border-color: black ;
    background-color: #FFFFFF;
}

.btn.btn-info:hover{
    border-color: black ;
    background-color: #fdedf7;
    box-shadow: 0 0 5px 1px #fdedf7;
}
.btn.btn-active{
    font-weight: 700;
    color: #000;
    border-color: black ;
    background-color: #ddd8ef;
    box-shadow: 0 0 5px 1px #ddd8ef;
}

@media (max-width:882px) {
    .btn-group {
        margin: 10px;
    }
}

/*.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #157347;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #146c43;
    --bs-btn-active-border-color: #13653f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;
}*/
