.todo-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    font-weight: 600;
    letter-spacing: 0.3px;
    width: 100%;
}
.todo-list-item-label{
    cursor: pointer;
    user-select: none;
}

.todo-list-item.important{
    color: #9382AF;
    text-decoration: underline;
    font-weight: 700;
    text-shadow: 1px 2px 3px #fdedf7;
}

.todo-list-item.done {
    text-decoration: line-through;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
}

.btn.btn-outline-success.btn-sm{
    margin: 5px;
    height: 32px;
    color: #9382AF;
    border-color: #9382AF ;
    width: 32px;
}

.btn.btn-outline-success.btn-sm:hover,
.btn.btn-outline-success.btn-sm:checked,
.btn.btn-outline-success.btn-sm:focus,
.btn.btn-outline-success.btn-sm:active {
    background-color: #9382AF;
    color: #ddd8ef;
    border-color: #ddd8ef;
    box-shadow: 5px 5px 5px #ddd8ef;
}


.btn.btn-outline-danger.btn-sm{
    margin: 5px;
    height: 32px;
    width: 32px;
}
