.HeaderHeading {
    margin: 20px;
    font-size: 54px;
    font-weight: 700;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #9382AF;
    text-shadow: 1px 2px 3px #666;
}
.HeaderContainer {
    display: flex;
    align-items: center;
}
.activeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.ActiveStatus {
    width: 200px;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Roboto Slab', serif;
    color: #9382AF;
}

@media (max-width: 882px) {
    .HeaderContainer {
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
    }
    .HeaderHeading {
        margin: 0;
        text-align: center;
    }
    .ActiveStatus {
        margin: 0;
    }
}